<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-handpoint" version="0.0.4">
    <name>Handpoint</name>
    <description>Cordova Handpoint SDK Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,handpoint</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module src="www/handpoint.js" name="Handpoint">
        <clobbers target="cordova.plugins.Handpoint"/>
    </js-module>
    <platform name="android">
        <source-file src="src/android/com/handpoint/cordova/HandpointApiCordova.java" target-dir="src/com/handpoint/cordova"/>
        <source-file src="src/android/com/handpoint/cordova/HandpointHelper.java" target-dir="src/com/handpoint/cordova"/>
        <source-file src="src/android/com/handpoint/cordova/SDKEvent.java" target-dir="src/com/handpoint/cordova"/>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HandpointApiCordova">
                <param name="android-package" value="com.handpoint.cordova.HandpointApiCordova"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <lib-file src="src/android/hapi-android-3.2.5.jar"/>
        <lib-file src="src/android/gson-2.8.1.jar"/>
    </platform>
    <platform name="ios">
        <config-file parent="res/xml/config.xml" target="/*">
			<feature name="HandpointApiCordova">
				<param name="ios-package" value="HapiCordova"/>
			</feature>
		</config-file>

		<source-file src="src/ios/com/handpoint/HandpointApiCordova.m"/>
		<header-file src="src/ios/com/handpoint/HandpointApiCordova.h"/>

        <!-- SDK header files -->
		<header-file src="src/ios/com/handpoint/include/CmdIds.h"/>
		<header-file src="src/ios/com/handpoint/include/HeftClient.h"/>
		<header-file src="src/ios/com/handpoint/include/HeftManager.h"/>
		<header-file src="src/ios/com/handpoint/include/HeftRemoteDevice.h"/>
		<header-file src="src/ios/com/handpoint/include/HeftStatusReportPublic.h"/>

        <framework src="ExternalAccessory.framework" />
        <framework src="Security.framework" />
        <plugins-plist key="Supported external accessory protocols" string="com.datecs.pinpad" />
        <source-file src="src/ios/com/handpoint/lib/libheft.a" framework="true" />
        <!-- <lib-file src="src/ios/com/handpoint/lib/libheft.a"/>-->
    </platform>
</plugin>